/* ------------------ info ------------------------ */

.info {
    margin-top: 120px;
    margin-bottom: 70px;
}

.info-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
}

.info-title {
    margin-bottom: 50px;
}

.info-text {
    margin-left: 405px;
    margin-right: 405px;
}

.info-img {
    display: flex;
    justify-content: center;
}

.info-img img {
    width: 1088px;
    height: 506px;
}

/* ------------------ info bottom ------------------------ */

.info-bottom {
    display: flex;
    justify-content: center;
    background-color: var(--black);
}

/*-------------------- size control ----------------------*/

@media(max-width:1458px) {

}

@media(max-width:766px) {

}