*{
    font-family: 'NEXON Lv1 Gothic OTF', "Kanit";
}

/* ------------------ About us ------------------------ */

.about {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-content img {
    width: 400px;
    height: 81px;
}

.about-subtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.about-text {
    width: 60%;
    text-align: center;
    /* margin-left: 270px;
    margin-right: 270px; */
}

/* ------------------ company ------------------------ */

.company {
    margin-top: 70px;
    width: 100%;
}

.company-background {
    display: flex;
    align-items: center;
    color: var(--white);
    padding: 85px;
    /* width: 1600px; */
    /* height: 260px; */
    background: url('../assets/bisample.png') no-repeat center center/cover;
    border-radius: 15px;
}

.company-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 30px;
}

.top-title,
.bottom-title {
    font-size: 25px;
    margin-bottom: 26px;
}

.company-logo {
    display: flex;
    justify-content: center;
    width: 50%;
}

.company-logo img {
    width: 80%;
    /* width: 408px;
    height: 83px; */
}

/* ------------------ games ------------------------ */

.games {
    margin-top: 140px;
}

.games-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 200px;
    color: var(--white);
}

.game-item {
    /* width: 1600px; */
    height: 550px;
    border-radius: 15px;
    background: url('../assets/Landing_3.png') no-repeat center center/cover;
}

.item-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 550px;
    border-radius: 15px;
    padding: 50px;
    background-color: var(--trans-gray-background);
    cursor: pointer;
}

.item-button img {
    width: 358px;
    height: 286px;
    margin-bottom: 32px;
    transition: 0.3s ease;
}

.item-button img:hover {
    transform: scale(1.1);
}

.item-button p {
    color: var(--white);
    text-align: start;
}

.item-button .arrow {
    position: relative;
    top: 30px;
    left: 170px;
    width: 10px;
    height: 20px;
}

/*-------------------- size control ----------------------*/

@media(max-width:1458px) {
    .company-background {
        padding: 50px 100px 50px 100px;
        align-items: normal;
        justify-content: center;
        flex-direction: column-reverse;
        /* width: 1300px; */
        /* height: 343px; */
    }

    .company-content {
        width: 100%;
        margin-right: 0px;
        text-align: center;
    }

    .company-logo {
        width: 100%;
        margin-bottom: 50px;
    }

    .company-logo img {
        width: 400px;
    }

    .bottom-title {
        margin-bottom: 0px;
    }

    .games {
        margin-top: 70px;
    }

    .game-item {
        /* width: 1300px; */
        height: 486px;
    }

    .item-button {
        width: 440px;
        height: 486px;
        padding: 30px 50px 30px 50px;
    }

    .item-button img {
        width: 298px;
        height: 238px;
        margin-bottom: 40px;
    }

    .item-button .arrow {
        position: relative;
        top: 30px;
        left: 190px;
    }

    .about-text {
        width: 65%;
        /* margin-left: 220px;
        margin-right: 220px; */
    }
}

@media(max-width:766px) {
    .about-content img {
        width: 340px;
        height: 69px;
    }

    .about-text {
        width: 95%;
        /* margin-left: 0px;
        margin-right: 0px; */
    }

    .company-background {
        padding: 35px 50px 50px 50px;
        align-items: normal;
        justify-content: center;
        /* width: 720px; */
        /* height: 346px; */
        flex-direction: column-reverse;
    }

    .company-content {
        width: 100%;
        margin-right: 0px;
    }

    .bottom-title {
        margin-bottom: 0px;
    }

    .company-logo {
        width: 100%;
    }

    .company-logo img {
        width: 60%;
        margin-bottom: 10px;
        /* width: 350px;
        height: 71px; */
    }

    .game-item {
        /* width: 1600px; */
        height: 520px;
    }

    .item-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 350px;
        height: 520px;
        padding: 15px 25px 25px 25px;
        background-color: var(--trans-gray-background);
        cursor: pointer;
    }

    .item-button img {
        width: 316px;
        height: 252px;
        margin-bottom: 10px;
    }

    .item-button .arrow {
        top: 20px;
        left: 140px;
    }
}